[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataclasses = "*"
google-api-python-client = "*"
oauth2client = "*"
pyyaml = "*"
pendulum = "*"

[dev-packages]
autoflake = "*"
black = "==20.8b1"
flake8 = "*"
hypothesis = "*"
isort = "*"
mypy = "*"
pytest = "*"

[requires]
python_version = "3.9"
