[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "*"
dataclasses = "*"
google-api-python-client = "*"
oauth2client = "*"
pyyaml = "*"

[dev-packages]
autoflake = "*"
black = "==19.3b0"
flake8 = "*"
hypothesis = "*"
isort = "*"
mypy = "*"
pytest = "*"

[requires]
python_version = "3.6"
